compss-connectors/rocci/src/main/java/integratedtoolkit/connectors/rocci/xsd/template.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Templates" type="TemplatesType" />
  <xsd:complexType name="TemplatesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Instance" type="InstanceType" />
      <xsd:element name="EstimatedCreationTime" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstanceType">
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string" />
      <xsd:element name="CPU" type="xsd:int" />
      <xsd:element name="Memory" type="xsd:decimal" />
      <xsd:element name="Disk" type="xsd:int" />
      <xsd:element name="Price" type="xsd:decimal" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
